name: Example syndicate flow
on:
  push:
    # Watch these branches...
    branches:
    - master
    # ...for changes to these files.
    paths:
    - 'pages/**/*.mdx?'

jobs:
  syndicate:
    runs-on: ubuntu-latest
    name: Syndicate posts
    env:
      # This is provided to all actions by Github, and needed to access the posts
      # in your repository.
      # @see https://help.github.com/en/actions/automating-your-workflow-with-github-actions/authenticating-with-the-github_token
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Tell me the path (relative to the project root) where your content lives
      # so I can find them in the commit that triggered this flow.
      # Defaults to 'posts' if not specified.
      SYNDICATE_POST_DIR: 'pages/posts'

    steps:
    # This step will syndicate your content to DEV.to, if supported, but will
    # NOT commit the platform-specific content IDs back to your repo. This is
    # useful for bundling the results of multiple actions into a single commit.
    #
    # However, note that future syndications to DEV.to will be unaware of the
    # drafts already created by this step and will result in duplicate drafts.
    #
    # To avoid this, include a future step which does not specify any silos, but
    # sets the `mark_as_syndicated` flag to true. This will commit the syndicate
    # IDs that have not already been added during this job.
    - name: Push to DEV.to
      uses: dabrady/syndicate@develop
      with:
        silos: DEV
      env:
        DEV_API_KEY: ${{ secrets.DEV_API_KEY }}

    # This step will syndicate your content to Medium and Planet Mars, if
    # supported, and will commit any new platform-specific content IDs to the
    # appropriate files.
    #
    # Note that this will NOT commit IDs generated by previous actions, just
    # the ones from this action.
    - name: Push to Medium and Planet Mars and commit new IDs
      uses: dabrady/syndicate@develop
      with:
        # Use a multiline YAML string to specify multiple silos.
        silos: |
          Medium
          Planet_Mars
        mark_as_syndicated: true
      env:
        MEDIUM_API_KEY: ${{ secrets.MEDIUM_API_KEY }}
        PLANET_MARS_API_KEY: ${{ secrets.MARS_API_KEY }}

    # This step will not syndicate any content to any silos, but instead will
    # commit any new platform-specific content IDs generated by previous steps
    # in this job to the appropriate files, if they haven't already been added.
    #
    # It's a nice way of bundling the results of multiple steps into a single
    # commit, or just cleaning up at the end of a job and you didn't miss
    # anything.
    - name: Commit IDs of newly syndicated posts if necessary
      uses: dabrady/syndicate@develop
      with:
        mark_as_syndicated: true
